@Edit.Toolbar(actions: "new", contentType: "Sessions")
@{
	String lastDay = "";
	String lastTime = "";
	var days = AsDynamic(App.Data["Sessions"]).OrderBy(d => d.Day).ThenBy(t => t.TimeSlot).ThenBy(c => c.Category);
	int i = 0;
}
<div class="sessions">
	@foreach(var cont in days){

		if(lastDay != cont.Day){
		    <h2 class="quaternary-text-color text-center">Day @(int.Parse(cont.Day) + 1)</h2>
		}
		if(lastTime != cont.TimeSlot){
			if(@cont.TimeSlot == "1"){
				<h6 class="session__time">Breakfast/ Welcome / Announcements / Keynote:<span class="break-text">8:00 (Andy Tryba, CEO, DNN Corp.)</span></h6>
			}
			if(@cont.TimeSlot == "3"){
				<h6 class="session__time">Lunch:<span class="break-text">11:30 - 12:30</span></h6>
			}
			if(@cont.TimeSlot == "5"){
				<h6 class="session__time">Break:<span class="break-text">3:00 - 3:10</span></h6>
			}

			<h6 class="session__time">
				Session @cont.TimeSlot:
				<span class="break-text">
					@if(@cont.TimeSlot == "1"){ <text>9:10 — 10:10</text> }
					else if(@cont.TimeSlot == "2"){ <text>10:20 — 11:20</text> }
					else if(@cont.TimeSlot == "3"){ <text>12:40 — 1:40</text> }
					else if(@cont.TimeSlot == "4"){ <text>1:50 — 2:50</text> }
					else if(@cont.TimeSlot == "5"){ <text>3:20 — 4:20</text> }
				    
				</span>
			</h6>
		}
	
	
		String catClass = "zero";
		
		if(cont.Category == "UX Dev"){ catClass = "one"; }
		else if (cont.Category == "Development"){ catClass = "two"; }
		else if (cont.Category == "Integration"){ catClass = "three"; }
		else if (cont.Category == "Marketing"){ catClass = "four"; }
		else if (cont.Category == "DNN"){ catClass = "five"; }
		else { catClass = "one"; }

		<div class="session__item cat-@catClass" id="session-@cont.Title.ToLower().Replace(' ','-')">
			<a class="session-more-btn"></a>

			<!-- Category -->
			<div class="session__category">
				<div class="session__category--box">
					<div class="cat--box-name">@cont.Category</div>
				</div>
			</div>

			<!-- Info -->
			<div class="session__info">
				
				<!-- Title -->
				<h5 class="session-title">@Edit.Toolbar(cont, actions: "edit") @cont.Title</h5>
				
				<!-- Location -->
				<p class="session-room">@cont.Room</p>

				@if (cont.Speaker.Count > 0){
					<div class="session__author">

						<!-- Image -->
						@if(cont.Speaker.Count >= 1){
							foreach(var item in cont.Speaker){
								<div class="session__author__img">
									<img alt="@item.Name" src="@item.Photo">
								</div>
							}
						} else if(cont.Speaker.Count == 1){
							<div class="session__author__img">
								<img alt="@cont.Speaker[0].Name" src="@cont.Speaker[0].Photo">
							</div>
						}

						
						<!-- Name -->
						<p>
							@if(cont.Speaker.Count > 1){
								int i2 = 1;
								foreach(var item in cont.Speaker){
									if(i2 == cont.Speaker.Count){ <text> &amp </text> }
									@item.Name
									if(i2 < cont.Speaker.Count){ <text>, </text> }
									i2++;
								}
							} else if(cont.Speaker.Count == 1){
								@cont.Speaker[0].Name
							}
						</p>
						<a class="session-bio-link" href="/Denver-2018/Speakers#speaker-@cont.Speaker[0].Name.ToLower().Replace(' ','-')">
						</a>
						
						<!-- Video -->
						<!--<a class="session__author__video" href="https://www.youtube.com/embed/fbF_9nlzW7E?rel=0&amp;autoplay=1">-->
						<!--    <span class="fa-stack">-->
						<!--        <em class="fa fa-square fa-stack-2x text-primary">-->
						<!--        </em>-->
						<!--        <em class="fa fa-play fa-stack-1x fa-inverse">-->
						<!--        </em>-->
						<!--    </span> Interview with Ralph Williams-->
						<!--</a>-->
					</div>
				}
				
			</div>

			<!-- Description -->
			<div class="session__description">
				<p>@cont.Description</p>
			</div>

		</div>

		lastTime = cont.TimeSlot;
		lastDay = cont.Day;
		i++;

		if(lastDay == "2" && days.Count() == i){
			<h6 class="session__time">Closing Session:<span class="break-text">16:30 - 17:30 (Shaun Walker, Founder, DNN Corp.)</span></h6>
		}
	}
</div>